bin
include
lib
share
__pycache__
*.cfg
*.py~
*.txt~
newfile.py
startServer.sh
package.json
node_modules
.vscode
.git
.gitignore
tests/__pycache__
tests/*.py~
static/css/*.css~
static/js/*.js~
static/images/thumbnails/*
