#fs {
	display: block;
	margin-top: 25px;
}

#movbut, #tvbut {
	display: block;
	height: 200px;
	margin-top: -1px;
}


#playBtn, #pauseBtn, #nextBtn, #prevBtn, #stopBtn {
	display: block;
	height: 5em;
}



.oddone {
	display: block;
	margin: auto;
	height: 270px;
}

.blkAImg, .blkBImg, .blkCImg, .blkDImg {
	display: block;
	margin: auto;
	padding: 10px;
	height: 250px;
}


#introimg, #movimg, #tvimg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	width: 75%:
}

.title, .year {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 75%;
}